.container {
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 10000000000000999;
}

.nav {
    font-family: 'Inter', sans-serif;
    background: #000000;
    padding: 1em 4em;
    max-height: 100%;
    display: flex;
    align-items: center;
    z-index: 10000000000000999;
    cursor: pointer;
    max-width: 1920px;
    margin: 0 auto;

}

.nav img {
    width: 120px;

}

.nav ul {
    display: flex;
    margin-left: auto;
    align-items: center;
    z-index: 9999;
    gap: 1em;
}

.nav li {
    list-style: none;
    display: grid;
    place-items: center;
    /* height: 40px; */
    cursor: pointer;
    width: 120px;
}

.nav .tabs {
    list-style: none;
    /* width: 118px; */
    /* height: 15.79px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16;
    line-height: 27px;
    color: #FFFFFF;
}

.nav .tabs.activetabs {
    text-align: center;
    padding: 5px 0;
    border-bottom: 3px solid #ff0000;
}

.connect {
    font-family: "Inter";
    text-align: center;
    background: #ff0000;
    box-shadow: 0px 6.87654px 13.7531px rgba(0, 0, 124, 0.24);
    border-radius: 42.9784px;
    width: 158.26px;
    padding: 5px 0;
    font-size: 16;
    color: white;
}


.nav_btn {
    margin-right: 10px;
    top: 20px;
    display: none;
}

.one {
    background-color: #fff;
    height: 4px;
    width: 30px;
    margin-bottom: 6px;
}

.two {
    background-color: #fff;
    height: 4px;
    width: 30px;
    margin-bottom: 6px;
}

.three {
    background-color: #fff;
    height: 4px;
    width: 30px;
    /* margin-bottom: 2px; */
}

@media (max-width:900px) {
    .nav {
        padding: 1em 2em;
        position: inherit;
    }

    /* .navimg{
        z-index: 55;
    } */
    .nav_btn {
        display: block;
        z-index: 0;

    }

    .nav .flow {
        position: fixed;
        inset: 0 0 0 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        background-color: #000000;
        margin-left: 0;
        place-items: center;
        text-align: center;
        transition: .5s;
        transform: translateX(100vh);
        z-index: 999;
        margin: 0 0 0 0;
    }

    .nav ul {
        margin-left: 0;
        padding-left: 0;
    }

    .nav .flow.responsive_nav {
        transform: none;
    }

    .nav_btn {
        margin-left: auto;
    }

    .nav_btn.nav_close_btn {
        position: absolute;
        top: 10px;
        right: 2px;
        width: 22px;
    }

    .nav img {
        width: 70%;

    }
}