.container {
    background: rgb(255, 255, 255);

}

.blackdiv {
    background-color: #000000;
}

.header {
    background-color: #000000;
    padding: .1em 4em 4em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 85vh;
    max-width: 1500px;
    margin: 0 auto;

}

.header h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 61px;
    letter-spacing: 0.11em;
    color: #FFFFFF;
}

.header span {
    color: #d4b62d;
}

.transition {
    color: #d4b62d;

}

.header p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 43px;
    width: 80%;
    color: #FFFFFF;
    /* width: 60%; */


}

.teddyedimg {
    width: 80% !important;
}

.hero_texts {}

.herogif img {
    width: 100%;
}

/* .curve{
    height:300px;
    width: 100%;
    background: #000000;
    border-radius: 20%;
    position: absolute;
    left:0;
    right: 0;
    top: 350px;
} */
.product {
    background: #FFFFFF;
    border-radius: 46px;
    width: 80%;
    margin: -100px auto;
    padding: 4em 4em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    max-width: 1400px;
}

.product h2 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36.6018px;
    line-height: 44px;
    color: #000000;
}

.product .p {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.product_grid {
    display: grid;
    gap: 10em;
    padding-bottom: 3em;
}

.p_details img {
    width: 60%;
}

.p_details p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    /* font-size: 18px; */
    line-height: 30px;
    letter-spacing: 0.292814px;
    color: #000000;
}

.eki {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.p_screen {
    width: 50%;
}

.eki .p_screen {
    /* order: 2;
    margin-left: auto; */
}

.teddyship {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.teddyed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.teddyed .p_screen {
    order: 2;
    margin-left: auto;
}

.jolificate {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width:1280px) {
    .header {
        max-height: 80vh;
    }
}

@media (min-width:1540px) {
    .header {
        background-color: #000000;
        padding: .1em 4em 4em;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 80vh;
    }
}

@media (max-width:900px) {
    .header {
        padding: .1em 3em 3em;
        height: auto;
    }

    .header h1 {
        font-size: 35px;
        /* text-align: center; */
    }

    .herogif {
        display: none;
    }

    .header p {
        font-size: 16px;
        line-height: 36px;
        width: 90vw;
        /* text-align: justify; */
    }

    .product {
        width: 100%;
        padding: .1em 1em;
        position: initial;
        border-radius: 0;
        padding-top: 3em;
        margin: 0px auto;
    }

    .product h2 {
        font-size: 28px;

    }

    .product .p {
        width: 100%;
        font-size: 16px;
    }

    .product .p_screen {
        display: block;
        width: 150px;
    }

    .teddyedimg {
        width: 100px !important;
    }

    .p_details img {
        width: 100px;
    }

    .eki {
        display: block;
        gap: 2em;
        justify-content: center;
        align-items: center;
        text-align: justify;

    }

    .eki .p_screen {
        /* order: 2; */
        margin: 0 auto;
    }

    .teddyship {
        display: block;
        text-align: grid;
        grid-template-columns: auto;
    }

    .teddyship .p_screen {
        /* order: 2; */
        margin: 0 auto;
    }

    .teddyed {
        display: block;
        text-align: grid;
        grid-template-columns: auto;
    }

    .teddyed .p_screen {
        /* order: 2; */
        margin: 0 auto;
    }

    .jolificate {
        display: block;
        text-align: grid;
        grid-template-columns: auto;
    }

    .jolificate .p_screen {
        /* order: 2; */
        margin: 0 auto;
    }
}

@media screen and (min-width: 1900px) {}

@media screen and (min-width: 1900px) {
    .header {
        max-height: 60vh;
    }

}