.container{
    background: #E9FEFF;
    overflow-x: hidden;
    position: relative;
    min-height:2100px;
}
.header{
    background-color: #000000;
    padding: .1em 4em;
    height: 600px;
    
}
.header h1{
    font-family:'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 71.2809px;
    /* line-height: 97px; */
    letter-spacing: 0.11em;
    color: #FFFFFF;
    width: 100%;
}
.header span{
    color: #d4b62d;
}
.transition{
    color: #d4b62d;
}
.header p{
    font-family:'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 43px;
    color: #FFFFFF;
    /* width: 60%; */
    
}
/* .curve{
    height:300px;
    width: 100%;
    background: #000000;
    border-radius: 20%;
    position: absolute;
    left:0;
    right: 0;
    top: 350px;
} */
.product{
    background: #FFFFFF;
    border-radius: 45.7522px;
    width: 80%;
    margin: 0 auto;
    padding: 2em 4em;
    position: absolute;
    top:500px;
    left: 10%;
}
.product h2{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36.6018px;
    line-height: 44px;
    color: #000000;
}
.product .p{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}
.product_grid{
    display: grid;
    gap: 4em;
}
.p_details p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.292814px;
    color: #000000;
}
.eki{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.eki .p_screen{
    order: 2;
    margin-left: auto;
}
.teddyship{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.teddyed{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.teddyed .p_screen{
    order: 2;
    margin-left: auto;
}
.jolificate{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (max-width:900px) {
    .header{
        padding: .1em 1em;
        height: auto;
    }
    .header h1{
        font-size: 50px;
        /* text-align: center; */
    }
.header p{
    font-size: 22px;
    line-height: 36px;
    }
    .product{
        width:100%;
        padding: .1em 1em;
        position: initial;
        border-radius: 0;
    }
    .product .p{
        width: 100%;
    }
    .product .p_screen{
        display: block;
    }
    .eki{
        display: block;
        gap: 2em;
        justify-content: center;
        align-items: center;
        text-align: justify;
        
    }
    .eki .p_screen{
        /* order: 2; */
        margin:0 auto;
    }
    .teddyship{
        display: block;
        text-align: grid;
        grid-template-columns: auto;
    }
    .teddyship .p_screen{
        /* order: 2; */
        margin:0 auto;
    }
    .teddyed{
        display: block;
        text-align: grid;
        grid-template-columns: auto;
    }
    .teddyed .p_screen{
        /* order: 2; */
        margin:0 auto;
    }
    .jolificate{
        display: block;
        text-align: grid;
        grid-template-columns: auto;
    }
    .jolificate .p_screen{
        /* order: 2; */
        margin:0 auto;
    }
}