.container {
    position: relative;
    margin: 100px 0;
    background-color: #f7f7f7;

}

.header {
    background-color: #000000;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.headers {
    margin-left: 8em;
    margin-right: 1em;

}

.headers h1 {
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 230px;
    height: 53px;
    background: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 2em;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}

.details img {
    margin-right: 30px;
    /* width: 100%; */
    /* flex: 1; */
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    padding: 2em 0;
    margin: 0 auto;
    max-width: 1500px;
    margin: 0 auto;
}

.text {}

.text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 170.9%;
    letter-spacing: 0.04em;
    color: #404040;
    margin-bottom: 2em;

}

.text h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #404040;
}

.text ol {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163.35%;
    color: #404040;
}

.image {
    margin-left: auto;
}

.image img {
    position: absolute;
    right: 0;
    top: 80px;
}

@media (max-width:900px) {
    .header {
        height: 140px;
        font-size: 20px;
    }

    .headers {
        display: none;
    }

    .details {
        grid-template-columns: 1fr;
        padding: 1em;
    }

    .text {
        margin-left: 0;
        /* text-align: justify; */
        padding-bottom: 2em;
    }

    .text p {
        /* font-size: 16px; */
    }

    .text ol {
        /* font-size: 16px; */
    }

    .text h1 {
        display: inline-block;

    }

    .image {
        display: none;
    }
}